.page-content {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1400px;
}

.header-content {
  height: 80px;
  max-width: 100%;
  background: #f8f1ea;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  display: flex;

  &-logo {
    margin-top: 23px;
  }
  &-menu ul {
    list-style: none;
    width: 100%;
    display: flex;
    gap: 15px;
    margin-top: 28px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
  }
  li:hover {
    color: #f16a50;
  }

  &-icon {
    display: flex;
    gap: 34px;
    margin-top: 22px;
  }
}

.content-block {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  min-width: 0;
}

.footer {
  background: #35312d;
  height: 350px;
  max-width: 100%;
}
.footer p {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #f8f1ea;
  margin-bottom: 65px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer-container_block {
  margin-top: 40px;

  &-list {
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    width: 100%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #f8f1ea;
  }
}
.footer-container_block-list li:hover {
  color: #f16a50;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #f8f1ea;
    margin-bottom: 51px;
  }
}
.contacts-social {
  display: flex;
  flex-direction: column;

  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;

    margin-left: -90px;
    color: #f8f1ea;
  }
}
.contacts-social_icons {
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  gap: 35px;
}
.contacts-social_icons svg:hover {
  stroke: #f16a50;
}

.image-slider {
  position: relative;
  width: 100%;
}

.image-slider_wrapper {
}
.image-slider_slide {
}

.image-slider_image {
  text-align: center;
}
.image-slider_image img {
  max-width: 100%;
}

.image-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #f16a50;
}

 .image-container {
  position: absolute;
  bottom: 450px;
  left: 400px;
}

.image-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;

  color: #f8f1ea;
  position: absolute;
  bottom: -10px;
  left: 400px;
}

.image-slider-button {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.84) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  width: 227px;
  height: 52px;
  box-sizing: border-box;
  border: 2px solid #f8f1ea;
  position: absolute;
  left: 590px;
}
.image-slider-button:hover {
  background: #f16a50;
}

.image-slider-button-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.products {
  padding: 70px 0;
  width: 100%;

  &-title {
    text-align: center;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
text-align: center;
text-transform: uppercase;

color: #000000;
  }
}

.products-swiper-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.products-swiper {
  width: 100%;
}

.products-card {
  max-width: 224px;
  border: 1px solid #f8f1ea;
  transition: 0.2s;
  cursor: pointer;
}

.products-status-text {
  max-width: 60px;
  text-align: center;
  padding: 4px 5px;
  background-color: #f16a50;
}
.products-status-sold {
  max-width: 60px;
  background-color: #f8f1ea;
  color: #000;
  
}



.products-item {
  &-title {
    margin: 18px 0 10px;
  }
}

.products-description {
  text-align: center;
  padding: 0 10px 20px;
}

.price-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #000000;
}

.products-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.products-button {
  text-align: center;
  margin-top: 50px;

  &-text {
    padding: 5px 40px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  display: inline-block;
  width: 20px; 
  height: 20px; 
  background-image: url("/img/next-active.svg");
  background-size: cover;
}

.partners {
  padding: 70px 0;
  width: 100%;
  background-color: #F8F1EA;

  &-title {
text-align: center;
      margin-bottom: 50px;
      font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
text-align: center;
text-transform: uppercase;

color: #000000;
  }

  &-swiper {
    width: 90%;
  }
}

.partners-swiper-container {
  position: relative;
  margin: 0 20px;
}


.swiper-button-next-partners {
position: absolute;
left: 95%;
bottom: 10px;
}

.swiper-button-prev-partners {
position: absolute;
bottom: 10px;
}

.partners-icon {
  width: 100px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      
}